.row.text-center
  .col-md-12
    h2 ASK Offline

.row.text-left.padding-20-0

  .col-md-4
    h3 Studer uten nett
    p Studer med ASK også uten tilgang til internett - eller med et dårlig nett.

  .col-md-4
    h3 Last ned oppleggene dine
    p Du laster ned opplegg og filmer før du går av nett.

  .col-md-4
    h3 Både Windows og Mac!
    p ASK Offline støtter både Windows og OSX

.row.text-center.padding-20-0
  h3 For å kunne studere offline, må du laste ned ASK Offline:

.row.text-center
  .col-md-12
    .jumbotron
      p
        a.btn.btn-success.btn-lg(href="/releases")
          | Last ned nå!

.row
  .col-md-12
    h1(style="border-bottom: solid #fff 1px") Slik jobber du

.row.text-left.padding-20-0
  .col-md-6
    h3 1. Start opp ASK Offline
    p Det ser helt likt ut som vanlig ASK.
  .col-md-6
    img(src="/images/image-step-1.jpg", style="width:100%")

.row.text-left.padding-20-0
  .col-md-6
    h3 2. Gå inn i faget du skal jobbe med, og velg <strong>offline</strong>

    p Har du flere fag så må du gjøre dette flere ganger

  .col-md-6
    img(src="/images/image-step-2.jpg", style="width:100%")

.row.text-left.padding-20-0
  .col-md-6
    h3 3. Last ned opplegg du skal jobbe med

    p Ved å trykke på "Last ned" knappen.

    p Du er nå klar til å gå offline.

  .col-md-6
    img(src="/images/image-step-3.jpg", style="width:100%")

.row.text-left.padding-20-0
  .col-md-6
    h3 4. Bytt til "Offline" øverst i menyen

  .col-md-6
    img(src="/images/image-step-4.jpg", style="width:100%")

.row.text-left.padding-20-0
  .col-md-6
    h3 5. Studer
    p Du kan se filmer to ta notater som vanlig.

  .col-md-6
    img(src="/images/image-step-5.jpg", style="width:100%")

.row.text-left.padding-20-0
  .col-md-6
    h3 6. Bytt tilbake til online når du får nett.
    p Slik at progresjon og notater kan lagres tilbake i skyen.

  .col-md-6
    img(src="/images/image-step-6.jpg", style="width:100%")


.row.text-center.padding-40-0
  h4 Har du spørsmål?
  p
    a.btn.btn-info(onClick="showClassicWidget()") Kontakt oss på support

