.row.text-center
  .col-md-12
    h2 ASK offline

.row.text-center.padding-20-0
  .col-md-4
    i.fa.fa-5x.fa-diamond
    h3 Klar for deg
  .col-md-4
    i.fa.fa-5x.fa-magic
    h3 Magisk
  .col-md-4
    i.fa.fa-5x.fa-bomb
    h3 Du kan se filmer!

.row.text-center
  .col-md-12
    .jumbotron
      p
        a.btn.btn-success.btn-lg(href="/releases")
          | Last ned nå!
