.row.text-center
  .col-md-12
    h1 ASK Offline

.row.text-left.padding-20-0

  .col-md-4
    h3 Studer uten nett
    p Studer med ASK også uten tilgang til internett - eller med et dårlig nett.

  .col-md-4
    h3 Last ned oppleggene dine
    p Du laster ned opplegg og filmer før du går av nett.

  .col-md-4
    h3 Både Windows og Mac!
    p ASK Offline støtter både Windows og OSX

.row.text-center.padding-20-0
  h3 For å kunne studere offline, må du laste ned ASK Offline:

.row.text-center
  .col-md-12
    .jumbotron
      p
        a.btn.btn-success.btn-lg(href="/releases")
          | Last ned nå!

.row
  .col-md-12
    h1 Nå når du har ASK Offline og skal laste ned studieopplegg:
    p Velg online-modus, velg offline-fanen og last ned delene i faget du ønsker å jobbe med.

    img(src="/images/i2-s1.jpg", style="width:100%")

.row.text-center.padding-40-0
  .col-md-12
    h2 Du er et sted uten internett og vil studere i ASK
    p Åpne ASK Offline, velg offline modus og åpne studieoppleggende du lastet ned.
    p img(src="/images/256x256.png")
    p
      img(src="/images/i2-s2.jpg")


.row.text-center.padding-40-0
  h4 Har du spørsmål?
  p
    a.btn.btn-info(onClick="showClassicWidget()") Kontakt oss på support

