.row.text-center
  .col-md-12
    h1 ASK Offline

.row.text-center.padding-20-0

  p Studer med ASK også uten tilgang til internett.


  p Gjennom ASK Offline kan du laste ned både undervisningsvideoene og tilhørende ressurser i fagene du er påmeldt.

  p ASK Offline støtter både Windows og OSX


.row.text-center.padding-20-0
  h3 For å kunne studere offline, må du laste ned ASK Offline:

.row.text-center.row-fluid
  .col-md-12
    .jumbotron
      p
        a.btn.btn-success.btn-lg(href="/releases")
          | Last ned nå!
